.App {
  text-align: center;
  color: white;
  background-image: url('../public/images/Untitled\ design.jpg');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;

}

.circle {
  display: inline-block;
  color: white;
  font-weight: 600;
  border-radius: 70%;
  padding: 300px 100px;
  margin: 10 15px;
}

